h2 ~ p {
	color: white;
	background-color: #49c300;
	}

/*

2. Общий соседний селектор (через ~) — выберет ВСЕ элементы B, которые идут после A на одном уровне
h1 ~ p {
	color: gray; Все абзацы ниже h1 в этом же контейнере
	}

*/



