.container p {
	color: white;
	background-color: #49c300;
	}

/*

1. Вложенный селектор (через пробел) — выберет ВСЕ элементы B внутри A, неважно как глубоко
div p {
	color: red;  Выберет любые <p> внутри <div>
	}

*/



